// This file is meant for home page styles
.site-main .wp-block-themeisle-blocks-posts-grid, 
.site-main .wp-block-query{
  max-width: $width-max-article;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.site-main .half-screen-columns{
    &.alignfull{
      margin-bottom: 0;
      margin-top: 0;
      gap: 0;  
    }

    &.wp-block-columns {

      @media (max-width: $width-max-mobile){
        flex-flow: column nowrap;
      }
    }
    .wp-block-column{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 1rem 2rem;
      }
            
    .wp-block-image {
        min-height: 50vh;
        width: 100%;
        height: auto;      
        display: flex;
        align-content: center;
  
        img{
          width: 100%;
          height: auto;
        }
    }

    p ~ .wp-block-image, ul ~ .wp-block-image{
        width: auto;
        height: auto;
        min-height: 1rem;
    }

    ul{
      padding-left: 0;
    }

    h4 {
      margin-bottom: calc(var(--margin-between-paragraphs) / 2);
    }

    p {
      margin: 1rem 0;
    }

    h4 > a{
      color: var(--color-red);
      text-decoration: none;    

      &:hover {
        text-decoration: underline;
      }
    }

}
  
.half-screen-columns:nth-of-type(2n+1){
    @media (max-width: $width-max-mobile) {
      .wp-block-column:nth-child(2n){
        order: -1;
      }
    }  
}
  