// This file is meant for sidebar on single post pages
section.with-sidebar{
    .article-content{
        flex-grow: 1;
    }
    .sidebar{
        max-width:20vw;
        min-width: 35rem;
        width: 35rem;
        padding: 1rem;
        position: absolute;
        right: 0;

        ul.post-menu{
            width: 100%;
            list-style: none;
        }

        &.fixed{
            position: fixed;
            top: 0;
            right: 0;
        }

        @media (max-width: 1666px) {
            display: none;
        }        

    }    
    
    @media (min-width: $width-max-mobile + 300px) {
        display: flex;
        flex-flow: row nowrap;
    }    
}

#post-menu{
    ul{
        list-style-type:decimal;

        li.menu-link{
            &::before{
                content: '';
            }    
        }
    }
}

.accordion{
    overflow: hidden;
    display: none;
}

.accordion.visible{
    display: block;
}