// The very bottom of the site. Usually contains supporting
// or secondary navigation, social media icons, contact details
// and such.

// Please note: These are mostly for demo purposes
// so feel free to remove everything in this file
// and start over.
.site-footer {
  clear: both;
  overflow: hidden;
  padding: 0;
  text-align: center;
  position: relative;

  .wordpress-logo {
    display: block;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  span {
    display: block;
    text-align: center;
  }

  svg {
    margin-right: .5rem;
    position: relative;
  }

  .powered-by-wordpress {
    display: inline-block;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 1rem;
    text-align: center;
  }

  .github-link {
    margin-left: .8rem;
    margin-top: 4px;
    overflow: hidden;
    padding-bottom: 4px;
    position: relative;
  }

  a {
    transition: opacity $transition-duration;

    &:hover,
    &:focus {
      color: var(--color-white);
      opacity: .5;

      &::after {
        opacity: .2;
      }
    }
  }

  .theme-info {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;

    i {
      margin: 0 .5rem;
    }
  }

  .nav-wrapper{
    top:0;
  }

  .sub-section{
    max-width: $width-grid-base;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid var(--color-paragraph);
  }
}

.footer-columns{
  color: var(--color-white);
  background-color: var(--color-footer-background);
  padding: 4rem 2rem;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .footer-columns-wrapper{
    display: flex;
    flex-flow: row wrap;
    max-width: $width-grid-base;
    flex-basis: $width-grid-base;
  }

  h1, h2, h3, h4{
    color: var(--color-white);
    margin-bottom: 1rem;
    text-align: left;
  }

  p {
    color: var(--color-white);
    margin-top: 1rem;
    text-align: left;
  }

  .footer-column{
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 25%;
    padding: 2rem;
    min-width: 20rem;
    flex-grow: 1;
  }
}

.cc-footer{
    text-align: left;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;    

    .icons {
      display: flex;

      span{
        display: inline;
      }
      svg{
        width: 3rem;
        height: auto;
      }
    }

    .text {
      display: inline-block;
      padding-left: 1rem;
    }
}

.site-info{
  max-width: $width-grid-base;
  margin: 0 auto 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  svg{
    width: 5rem;
    height: auto;
  }
}