// The very top of the site, element that usually includes
// the site navigation and search for example.
.site-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: $width-grid-base;
  position: relative;
  z-index: 15;
  background-color: var(--color-block-background);

  .site-branding{
    padding-bottom: var(--padding-site-header-vertical);
    padding-left: var(--padding-container-horizontal);
    padding-right: calc(var(--padding-container-horizontal) / 2);
    padding-top: var(--padding-site-header-vertical);    
    flex-grow: 1;
  }

  .nav-block{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 0;
    padding-right: var(--padding-container-horizontal);    

    @media screen and (max-width: $width-max-mobile - 1px) {
      flex-grow: 0;
      justify-content: center;
    }
  }

  @media (max-width: $width-max-mobile) {
    --padding-container-horizontal: 2rem;
  }
}

.site-title {
  line-height: 0;
  margin: 0;

  a {
    align-items: center;
    display: flex;
  //  color: var(--color-black);
  }
  svg{
    color: var(--color-black);
    height: 7rem;
    width: auto;
  }
}

.glide__slide {
  text-align: center;

  figure img{
    max-width: 2048px;
  }
}
