// styles for alert bar section
.alert-bar.visible{
    background-color: var(--color-red);
    color: var(--color-white);

    h1, h2, h3, p{
        color: var(--color-white);
    }

    h1{
        text-transform: uppercase;        
    }
}

.alert-bar-wrapper{
    padding: var(--padding-container-horizontal) var(--padding-container-vertical);
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;
    align-items: flex-end;    
}

.alert-bar:not(.visible){
    // stylelint-disable a11y/display-none, declaration-no-important, plugin/file-max-lines
    display: none;
}

#alert-button {
    @include button();
    color: var(--color-white);
    border-color: var(--color-white);
}