/* Toggle Button */
.cb-toggle {
    cursor: pointer;
    border: 0;
	position: relative;
	outline: 0;
	margin: 10px;    
/* To create surface of toggle button */    
    &::after{
        background-color: var(--color-valhalla);
        border-radius: 18px;
        clear: both;
        content: '';
        display: inline-block;        
        height: 28px;
        width: 60px;
    }
/* Contents before checkbox to create toggle handle */
    &::before{
        background-color: var(--color-valhalla);
        border-radius: 50%;
        box-shadow: 1px 1px 3px var(--color-black);        
        content: '';
        display: block;
        height: 32px;
        left: 0;
        position: absolute;
        top: -3px;
        width: 32px;
    }
/* Shift the handle to left on check event */
    &:checked::before {
        left: 32px;
        box-shadow: -1px 1px 3px var(--color-black);
    }
/* Background color when toggle button will be active */
     &:checked::after {
        background-color: var(--color-blue);
    }

}
/* Transition for smoothness */
.cb-toggle,
.cb-toggle::before,
.cb-toggle::after,
.cb-toggle:checked::before,
.cb-toggle:checked::after {
	transition: ease .3s;
}