// CSS variables
// Define names:
// For AAA: https://www.color-blindness.com/color-name-hue/
// For AA: https://chir.ag/projects/name-that-color/
// ------------------------------------------------------
:root{
  // Brand color pool
  --color-black: #222;
  --color-black-rock: #3d3f44;
  --color-blue-chalk: #ece6f2;
  --color-east-bay: #545773;
  --color-light-grey: #9c9ead;
  --color-pattens-blue: #dbe9f7;
  --color-science-blue: #0049d1;
  --color-scorpion: #5f5f5f;
  --color-valhalla: #3e4152;
  --color-white: #fff;
  --color-white-transparent: rgba(255, 255, 255, 0.6);
  --color-green: #078007;
  --color-blue: #0052a5;
  --color-red: #d5233f;
  --color-gray-neutral: #f2f2f2;

  // Main element colors
  --color-heading: var(--color-main);
  --color-main: var(--color-blue);
  --color-second: var(--color-red);
  --color-paragraph: var(--color-black);
  --color-special-one: var(--color-green);
  --color-alert: var(--color-red);
  --color-page-accent: var(--color-heading);
  --color-page-accent-font: var(--color-white);  
  --color-page-background: var(--color-gray-neutral);
  --color-heading-background: var(--color-white);
  --color-block-background: var(--color-white);
  --color-footer-background: var(--color-main);
  --color-heading-h3-background: var(--color-valhalla);

   // Modern link
  --color-link-text: var(--color-black-rock);
  --color-link-text-hover: var(--color-black);

  // Element states
  --color-error: #cc2e2e;
  --color-success: #21aa14;
}

body.no-color{
  filter: grayscale(1);
}