// CSS variables
// Define names:
// For AAA: https://www.color-blindness.com/color-name-hue/
// For AA: https://chir.ag/projects/name-that-color/
// ------------------------------------------------------
:root{
  // Brand color pool
  --color-black: #222;
  --color-black-rock: #2b303c;
  --color-blue-chalk: #ece6f2;
  --color-east-bay: #545773;
  --color-pattens-blue: #dbe9f7;
  --color-science-blue: #0049d1;
  --color-scorpion: #5f5f5f;
  --color-valhalla: #2a2d3e;
  --color-white: #fff;
  --color-green: #078007;
  --color-blue: #0052a5;
  --color-red: #d5233f;

  // Main element colors
  --color-heading: var(--color-main);
  --color-main: var(--color-blue);
  --color-second: var(--color-red);
  --color-paragraph: var(--color-east-bay);
  --color-special-one: var(--color-green);
  --color-alert: var(--color-red);
   // Modern link
  --color-link-text: var(--color-black-rock);
  --color-link-text-hover: var(--color-black);

  // Element states
  --color-error: #cc2e2e;
  --color-success: #21aa14;
}

body.no-color{
  // Brand color pool
  --color-black: #222;
  --color-black-rock: #777;
  --color-blue-chalk: #ece6f2;
  --color-east-bay: #6f6f6f;
  --color-pattens-blue: #eaf1f8;
  --color-science-blue: #8b8b8b;
  --color-scorpion: #5f5f5f;
  --color-valhalla: #3d3d3d;
  --color-white: #fff;
  --color-green: #6e6e6e;
  --color-blue: #949494;
  --color-red: #cbcbcb;

  // Main element colors
  --color-heading: var(--color-main);
  --color-main: var(--color-black-rock);
  --color-paragraph: var(--color-black-rock);
  --color-special-one: var(--color-black-rock);
  // Modern link
  --color-link-text: var(--color-black-rock);
  --color-link-text-hover: var(--color-black);

  // Element states
  --color-error: #b7b7b7;
  --color-success: #373737;
}