// Core/heading block

// Title line-heights
h1,
h2,
h3,
h4,
h5 {
  line-height: var(--line-height-core-heading);
}

// Don't add extra margin on top of first title
h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child {
    margin-top: 0;
  }
}

h1{
  background-color: var(--color-page-accent);
  color: var(--color-page-accent-font);
  padding: 1.3rem;
  max-width: 80vw;
  left: 0;
  margin-left: 0;
  padding-left: 23rem;
}

h5{
  color: var(--color-white);
  background-color: var(--color-heading-background);
  padding: .5rem 2.5rem;

  &[class^='wp-block-']{
    position: relative;
    left: 23rem;
    right: 0;
    width: auto;
    max-width: 100vw;
  }
}