// Core/heading block

// Title line-heights
h1,
h2,
h3,
h4,
h5 {
  line-height: var(--line-height-core-heading);
}

// Don't add extra margin on top of first title
h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child {
    margin-top: 0;
  }
}

.title{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;  
  background-color: var(--color-page-accent);
  color: var(--color-page-accent-font); 
  margin-bottom: var(--margin-between-paragraphs);
  margin-top: var(--margin-between-paragraphs);

  .title-icon{
    margin: 0 1rem;
    img{
      height: 100%;
      display: block;
      width: auto;
      padding: 1rem;
    }
  }
}

h1{
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}

h2[class^='wp-block-']{
  background-color: var(--color-page-accent);
  color: var(--color-page-accent-font);
  padding: 1.3rem;
  max-width: 80vw;
  left: 0;
  margin-left: 0;
  padding-left: calc((100vw - $width-max-article) / 2);
  padding-right: 2rem;

  @media (max-width: $width-max-article + 40px) {    
    padding-left: calc( (100vw - calc(100% - calc(var(--padding-container-horizontal) * 2))) / 2);
  }
}

h3{
  color: var(--color-white);
  background-color: var(--color-heading-background);
  padding: .5rem 2.5rem;
}

h4, h5{
  color: var(--color-paragraph);
}

.block-page{
  h1{
    background-color: var(--color-page-accent);
    margin: 0 auto 4rem;
  }

  .article-content{
    padding-top: var(--padding-block);
  }
  .article-content .alignfull, .editor-styles-wrapper .alignfull, .site-main .alignfull{
    @media (min-width: $width-max-article + 40px){
      margin-top: 0;
    }  
  }
}
