// stylelint-disable a11y/no-display-none, plugin/file-max-lines
// Header language menu 
.language-switcher{
    .menu-items{
        gap: 1rem;
        @media screen and (max-width: $width-max-mobile - 1px) {
            gap: 0;            
        }        
    }
    .menu-item{
        padding: 0;
        display: flex;
        align-items: center;
        
        &:not(:last-child)::after{
            content: " |";
        }

        &::after{
            @media screen and (max-width: $width-max-mobile - 1px) {
                display: none;
            }
        }
    }
}