// Alignments
.editor-styles-wrapper,
.site-main,
.article-content {
  .alignleft > * {
    float: left;
  }

  .alignright > * {
    float: right;
  }

  .alignleft > img {
    margin-bottom: var(--margin-between-paragraphs);
    margin-right: var(--padding-container-horizontal);
    margin-top: var(--margin-between-paragraphs);

    + figcaption {
      margin-top: 0;
    }
  }

  .alignright > img {
    margin-bottom: var(--margin-between-paragraphs);
    margin-left: var(--padding-container-horizontal);
    margin-top: var(--margin-between-paragraphs);

    + figcaption {
      margin-top: 0;
    }
  }

  .alignwide {
    max-width: $width-wide;
    padding-left: var(--padding-container-horizontal);
    padding-right: var(--padding-container-horizontal);
    width: 100%;

    @media (min-width: $width-wide + 40px) {
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .alignfull {
    max-width: $width-full;
    padding-left: 0;
    padding-right: 0;
    width: $width-full;

    &.wp-block-image img {
      border-radius: 0;
    }

    @media (min-width: $width-max-article + 40px) {
      margin-bottom: var(--padding-block);
      margin-top: var(--padding-block);
      max-width: $width-full;
      width: $width-full;
    }
  }
}

.site-main{
  .hero-image{
    margin: 0;
    background-color: var(--color-white);
    height: var(--hero-banner-height);    

    .wp-block-cover__image-background, 
    .wp-post-image{
      max-width: 250rem;
      margin: 0 auto;
    }
    .wp-block-cover__background{
      @media(max-width: $width-max-article){
          // stylelint-disable rem-over-px/rem-over-px, declaration-no-important, plugin/file-max-lines
          // left: calc(100vw - 1440px);
          left: 0;
      }  
    }
  }
}
